<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PPAIEntities" connectionString="metadata=res://*/Backend.EntityData.csdl|res://*/Backend.EntityData.ssdl|res://*/Backend.EntityData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CAETA-PC;initial catalog=PPAI_DSI;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>